.section-title{
    font-size: 22px;
    color: var(--text-primary);

    @media (min-width:1080px) {
        font-size: 40px;
    }
}

.item-title{
    font-size: 18px;
    color: var(--text-secondary);
    font-style: italic;

    @media (min-width:1080px) {
        font-size: 36px;
    }
}