.projects{
    display: block;
    grid-area: projects;
    .works{
        display: grid;
        grid-template-columns: 1fr;
        gap:10px;
        .work{
            position: relative;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, auto);
            grid-template-areas: 
            "title title"
            "img img"
            "repo page";
            width: 90%;
            text-align: center;
            gap: 1rem 0;

            .emBreve{
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;

                font-size: 30px;
                -webkit-text-stroke-color: #000;
                -webkit-text-stroke-width: 2px;

                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba($color: #f3f, $alpha: .3);
            }
            h2{
                grid-area: title;
                
            }
            img{
                grid-area: img;
                margin: auto;
                width: 90vw;
                height: 100%;
            }
            a{
                display: flex;
                align-items: center;
                justify-content: center;

                text-decoration: none;
                width: 90%;
                border: 0;
                height: 2rem;
                font-size: 10px;
                background-color: var(--btn-bg);
                color: var(--btn-text);
            }
            .repository{
                grid-area: repo;
            }
            .page{
                grid-area: page;
            }
        }

        @media (min-width:1080px) {
            grid-template-columns: repeat(3, 1fr);
            .work{
                .emBreve{
                    font-size: 50px;
                    -webkit-text-stroke-width: 4px ;

                }
                padding: 5px;
                
                img{
                    width: 95%;
                    border: 3px solid white;
                }
                a{
                    font-size: 18px;
                    margin: auto;
                    width: 80%;
                }
                a:hover{
                    cursor: pointer;
                    font-weight: bolder;
                    background-color: var(--btn-bg-hover);
                    color: var(--btn-text-hover);
                }

            }
        }
    }
}