:root {
  --text-primary: #eee;
  --text-secondary: #aaa;
  --bg-primary: #1d1d1d;
  --bg-secondary: #2c2c2c;

  --btn-bg: #444;
  --btn-bg-hover: #777;
  --btn-text: #ddd;
  --btn-text-hover: #111;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background: linear-gradient(var(--bg-secondary), var(--bg-primary));
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

